<html>
<head>
    <meta name="decorator" content="atl.admin">
    <title>$i18n.getText("ao.view.config.title")</title>
    $webResourceManager.requireResource("com.atlassian.activeobjects.activeobjects-plugin:web-resources")
</head>
<body>
<div id="ao">
    <h1>$i18n.getText("ao.view.config.backup.title")</h1>
    <p>
        $i18n.getText("ao.view.config.backup.text")
        <a href="#springUrl("/plugins/servlet/ao/backup")">$i18n.getText("ao.view.config.backup.link")</a>
    </p>
    <h1>$i18n.getText("ao.view.config.global.title")</h1>
    <table>
        <thead>
        <tr>
            <th>$i18n.getText("ao.view.config.property")</th>
            <th>$i18n.getText("ao.view.config.value")</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>$i18n.getText("ao.view.config.base.db.dir")</td>
            <td>$pluginConfig.databaseBaseDirectory</td>
        </tr>
        </tbody>
    </table>
    <h1>$i18n.getText("ao.view.config.plugins.title")</h1>
    #if($configurations.isEmpty())
        <div class="ao-no-plugins">
            <p>$i18n.getText("ao.view.config.plugins.none")</p>
        </div>
    #else
        <div class="ao-plugins">
        #foreach($config in $configurations)
        <div class="ao-plugin" id="ao-plugin-${config.plugin.key}">
            <div class="ao-plugin-header">
                <h4 class="ao-plugin-name">${config.plugin.name}</h4>
                <p class="ao-plugin-summary">$!{config.plugin.pluginInformation.description}</p>
            </div>
            <table class="ao-plugin-entities">
                <thead>
                    <tr>
                        <th>$i18n.getText("ao.view.config.plugins.entity-class")</th>
                        <th>$i18n.getText("ao.view.config.plugins.entity-table-name")</th>
                    </tr>
                </thead>
                <tbody>
                    #foreach($entityEntry in $config.entities.entrySet())
                    <tr>
                        <td>$entityEntry.key</td>
                        <td>$entityEntry.value</td>
                    </tr>
                    #end
                </tbody>
            </table>
        </div>
        #end
        </div>
    #end
</div>
</body>
</html>